
body{
    background-color:whitesmoke;
}

.jan{

    border-radius: 3px;
    margin-left: 50%;
    margin-top: -40%;
    width: 300px;
    height: 350px;
    border-color: rgb(114, 97, 97);
    border size: 100PX;

    
    
    
}
.pic{
    height: 600px;
}


.one{
    width: 5;
    height: 50%;
    margin-left: 10px auto;
    padding-left: 10%;
    
}
input{

    width: 220px;
    padding: 10px 10px;
    border: 10px;
    padding: 8px 20px;
    background-color:gainsboro;
    color:white;
}

button{
    
   text-align: center;
    background-color:rgb(58, 98, 184);
    width: 270px;
    padding: 10px 10px;
    border-radius: 10px;
}

p{
    margin-top: -19px;
    background-color:white;
    width: 40px;
}

.bhai{
    border-radius: 3px;
    margin-top: 1%;
    line-height: 10px;
    height: 50px;
    margin-left:50%;
   width: 300px;
    border-color: rgb(114, 97, 97);
    border size: 100px;


}
.nine{
margin-top: 30px;
margin-left: 52%;

}
h4{
    margin-left: 15%;
}
.bros{
   text-decoration: none;
}
.brosi{
    text-decoration: none;
}
.brosia{
    text-decoration: none;
}

button:hover{
    background-color: antiquewhite;
}

 